div.todo.todo__container
    div
        input.todo__input(v-model="newTodo", @keyup.enter="add", :placeholder="placeholder")
        button.todo__add(@click="add") Add
    div.todo__elem(v-for="(item, index) of items")
            Checkbox(:state="item.checked", v-on:check="check(item)")
            div.todo__elem_description(:class="{'todo__elem--checked': item.checked}") {{item.title}}
            span.fa.fa-times.todo__elem_remove(@click="remove(index)")