div
	Header(:title="title")

	TodoList(v-if="user.uid")

	.unauth(v-show="!user.uid")
		span Please sign in to start planning

	.preloader(v-show="loading")
		.preloader__img_container
			img.preloader__img(src="img/preloader.gif")