@import '../helpers.styl'

.todo
	font-family Circe
	display flex
	justify-content space-around
	
	&__container
		margin-top 25px
		display flex
		flex-direction column
		justify-content flex-start
		
		width 364px
		
	&__input_container
		width 100%

	&__elem

		box-sizing border-box
		width 100%

		display flex
		justify-content space-between
		
		padding 15px 25px 15px 15px
		margin 15px 0
		
		background #fff
		
		font-size 19px
	
		color #000
		
		box-shadow 5px 5px 8px 3px rgba(218,218,218,0.75)

		&_description
			line-height 25px
			width 250px
			
		&_remove
			cursor pointer
			margin-top 3px
			color #dadada
			font-size 16px
			
			&:hover
				color #b3b3b3

		&--checked
			text-decoration line-through
			color #bbbbbb

	&__input
		box-sizing border-box
		height 34px
		width 300px
		
		padding 8px 10px
		margin-right 10px
		
		vertical-align top
		
		border 1px solid #dadada
		
		font-size 16px
		
		outline none
		
		&:hover,
		&:focus
			border-color #c0c0c0

	
	