@font-face {
    font-family: 'acrombold';
    src: url('/fonts/acrom_bold-webfont.woff2') format('woff2'),
         url('/fonts/acrom_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothamProBold';
    src: url('/fonts/GothamProBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Circe';
    src: url('/fonts/Circe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}