.border-box
	box-sizing border-box
	
.button
	padding 8px 12px
	
	box-sizing border-box
	height 34px
	
	font-size 15px
	
	border none
	
	outline none
	
	cursor pointer
	
	&__green
		color #fff
	
		background #41b883
	
		&:hover
			background #39a575
	
	&__white
		color #000
	
		background #fff
	
		&:hover
			background #e6e6e6