body
	padding 0
	margin 0
	background #f0f0f0
	
.unauth
	margin-top 90px
	text-align center
	font 40px Circe
	
	color #4d4d4d
	
.preloader
	position fixed
	top 50px
	background #f0f0f0
	height 100%
	width 100%
	
	&__img_container
		position relative
		top calc(50% - 100px)
		left calc(50% - 100px)
		
		width 200px
		height 200px
	&__img
		position absolute
		width 100%
	